<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.9.1, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/c-logo-312x312.jpg" type="image/x-icon">
  <meta name="description" content="About page">
  <title>About</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
  
</head>
<body>
  <link rel="stylesheet" href="style.less" class="cid-rkP0FrerX3" id="menu1-39" data-rv-view="559"><section class="menu cid-rkP0FrerX3" once="menu" id="menu1-39">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                         <img src="assets/images/logoiit-1-328x154.jpg" alt="Main Logo" title="" style="height: 5.3rem;">
                    </a>
                </span>
                
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white display-4" href="/">Home<br></a></li><li class="nav-item dropdown open"><a class="nav-link link text-white dropdown-toggle display-4" href="/" data-toggle="dropdown-submenu" aria-expanded="true">
                        
                        Sports</a><div class="dropdown-menu"><a class="text-white dropdown-item display-4" href="football">Football<br></a><a class="text-white dropdown-item display-4" href="cricket">Cricket</a><a class="text-white dropdown-item display-4" href="basketball">Basketball</a><a class="text-white dropdown-item display-4" href="volleyball">Volleyball</a><a class="text-white dropdown-item display-4" href="athletics">Athletics</a><a class="text-white dropdown-item display-4" href="table-tennis">Table Tennis</a><a class="text-white dropdown-item display-4" href="badminton">Badminton</a><a class="text-white dropdown-item display-4" href="pool">Pool</a><a class="text-white dropdown-item display-4" href="chess">Chess</a></div></li><li class="nav-item"><a class="nav-link link text-white display-4" href="livescores">Live Scores</a></li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="about">
                        
                        About</a>
                </li></ul>
            
        </div>
    </nav>
</section>

<section class="header3 cid-rkP0nDX7Lm" id="header3-38">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 60%;">
                <img src="assets/images/convoquerpng-588x588.png" alt="Mobirise" title="">
            </div>

            <div class="media-content">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1"><br>INSPIRATION</h1>
                
                <div class="mbr-section-text mbr-white pb-3 ">
                    <p class="mbr-text mbr-fonts-style display-5">
                        The desire to compete is an innate human trait. Well, that's what we'd claim <strong>IIT Jammu's</strong> inspiration to be for its second edition of <strong>Convoquer</strong>.&nbsp;<strong>Convoquer's</strong> theme <strong>"rise and shine"</strong>, is motivated by the grit and determination the students possess, enabling them to evolve into well-rounded personalities and letting them outshine in all aspects of life. The competition, being a collective endeavour of both students, faculties and staff members, is an embodiment of persistence and aspiration, contributing to the overall growth of <strong>IIT Jammu</strong>.</p>
                </div>
                
            </div>
        </div>
    </div>

</section>

<section class="testimonials1 cid-rknop16wj3" id="testimonials1-38">

    

    
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 align-center">
                <h2 class="pb-3 mbr-fonts-style display-2">TEAM HEADS</h2>
                
            </div>
        </div>
    </div>

    <div class="container pt-3 mt-2">
        <div class="media-container-row">
            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/adarsh-240x240.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             Adarsh Singh</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                               Event Head<br>+91 9453265485<br></small>
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/ashish-240x320.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">Aashish Ranjan&nbsp;</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                               General Secretary, Sports<br>+91 9107632910</small>
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/akash-1-240x180.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">Akash Kumar</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">Overall Coordinator
<br>+91 6204212565<br></small>
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/nitin-240x320.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             Nitin Raj</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                               Marketing Head<br>+91 7023755372</small>
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/sumit-2-240x320.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             Sumit Singh</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">Management Team Head<br>+91 9149416180</small>
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/shivang-240x300.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p></div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             Shivang Vijay</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">Security and Hospitality Head<br>+91 9079896145
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</section>

<section class="testimonials1 cid-rknvcELYfL" id="testimonials1-39">

    

    
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 align-center">
                <h2 class="pb-3 mbr-fonts-style display-2">MEDIA AND TRANSPORT</h2>
                
            </div>
        </div>
    </div>

    <div class="container pt-3 mt-2">
        <div class="media-container-row">
            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/keshav-1-240x160.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             Keshav Vyas</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">Transportation Head<br>+91 9166969436
                        </small>
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/venkatesh-240x242.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">Sugandham Venkatesh</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">Media Team Head<br>+91 8099853523
                        </small>
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/tus.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             Tushar Goyal</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">Designing Team Head<br>+91 9599588183</small>
                    </div>
                </div>
            </div>

            

            

            
        </div>
    </div>   
</section>

<section class="testimonials1 cid-rkrNk3FBkW" id="testimonials1-3a">

    

    
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 align-center">
                <h2 class="pb-3 mbr-fonts-style display-2">
                    CULTURE, CREATIVITY AND SCHEDULING</h2>
                
            </div>
        </div>
    </div>

    <div class="container pt-3 mt-2">
        <div class="media-container-row">
            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/shantanu-240x240.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             Shantanu Singh</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                               Creativity Coordinator<br>+91 9622967234</small>
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/vishwas-240x320.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             Vishwas Modanwal</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">Cultural Head<br>+91 9935949008</small>
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/devid-1-240x240.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             Devid Yadav</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">Scheduling Head<br>+91 7051374684<br></small>
                    </div>
                </div>
            </div>

            

            

            
        </div>
    </div>   
</section>

<section class="testimonials1 cid-rkrKWhZsq1" id="testimonials1-38">

    

    
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 align-center">
                <h2 class="pb-3 mbr-fonts-style display-2">
                    FACULTY COORDINATORS</h2>
                
            </div>
        </div>
    </div>

    <div class="container pt-3 mt-2">
        <div class="media-container-row">
            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/anup-shukla-240x320.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             Dr. Anup Shukla</div>
                        
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/arun-kumar-240x320.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             Dr. Arun Kumar Perumal</div>
                        
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/ashok-bera-240x320.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">Dr. Ashok Bera</div>
                        
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/pankaj-chauhan-240x320.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             Dr. Pankaj Chauwan</div>
                        
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/shiva-s-240x320.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             Dr. Shiva S</div>
                        
                    </div>
                </div>
            </div>

            
        </div>
    </div>   
</section>
<section class="testimonials1 cid-rkrSQorTYr" id="testimonials1-3c">

    

    
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 align-center">
                <h2 class="pb-3 mbr-fonts-style display-2">
                    WEB DEVELOPERS</h2>
                
            </div>
        </div>
    </div>

    <div class="container pt-3 mt-2">
        <div class="media-container-row">
            <div class="mbr-testimonial p-3 align-center col-12 col-md-6">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/parth-1-240x240.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             Parth Thakker</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                               Developer<br>
                               <a href="https://www.linkedin.com/in/parth-thakker-58ab54175/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:30px;color:#0173B2;"></i></a>
                               <a href="https://github.com/parthdt/" target="_blank"><i class="fa fa-github" style="font-size:30px;color: black;"></i></a>
                        </small>
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/mamun-240x240.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             Shaikh Mamun Hoque</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                               Developer<br>
                               <a href="https://www.linkedin.com/in/shaikh-mamun-hoque-37466915b/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:30px;color:#0173B2;"></i></a>
                               <a href="https://github.com/PositronPiercer" target="_blank"><i class="fa fa-github" style="font-size:30px;color: black;"></i></a>
                        </small>
                    </div>
                </div>
            </div>

            

            

            

            
        </div>
    </div>   
</section>
<section class="mbr-section article content14 cid-rkryRQxfjU" id="content14-39">
      
     

    <div class="container">
        <div class="media-container-row">
            <div class="row col-12 col-md-12">
                <div class="col-12 mbr-text mbr-fonts-style col-md-4 display-5">
                     <p class="p-3"><strong>&nbsp;Devid Yadav
</strong></p><p class="p-3"><strong>Avinash Dubey
</strong></p><p class="p-3"><strong>Parth Thakker</strong><br></p><p class="p-3"><strong>Adarsh Singh</strong></p><p class="p-3"><strong>Shivang Vijay<br></strong></p>
                </div>
                <div class="col-12 mbr-text mbr-fonts-style display-2 col-md-4">
                     <p class="p-3"><strong><br></strong></p><p class="p-3"><strong style="color:red;">SPORTS COORDINATORS</strong></p>
                </div>
                <div class="col-12 col-md-4 mbr-text mbr-fonts-style display-5">
                     <p class="p-3"><strong>Sumit Kala</strong></p><p class="p-3"><strong> Shreyas Gore</strong></p><p class="p-3"><strong> Keshav Vyas</strong></p><p class="p-3"><strong> Hardik Sharma</strong></p><p class="p-3"><strong> Naveen Kumar</strong></p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="cid-rkhi2T9jML" id="social-buttons2-3h">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="col-md-8 align-center">
                
                <div class="social-list pl-0 mb-0">
                    <a href="http://iitjammu.ac.in/" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social mbri-home"></span>
                    </a>
                    <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                        <span class="px-2 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                    </a>
                    <a href="https://www.instagram.com/iit.jammu/?hl=en" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                    </a>
                    <a href="https://www.youtube.com/channel/UCLNdmo9sbWNKNFVO0r5wjWQ" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span>
                    </a>
                    <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                        
                    </a>
                    <a href="https://www.behance.net/Mobirise" target="_blank">
                        
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section once="" class="cid-rkhi42BXbY" id="footer7-3i">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            
            
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © Copyright 2019 IIT Jammu - All rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="assets/sociallikes/social-likes.js"></script>
  <script src="assets/dropdown/js/script.min.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
  
  </body>
</html>