<!DOCTYPE html>
<html >
<style>
#particles-js{
    background: black;
    height: 100vh;
}

</style>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136348010-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136348010-1');
</script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.9.1, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/c-logo-312x312.jpg" type="image/x-icon">
  <meta name="description" content="">
  <title>Home</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>
<body>
      <div id="particles-js" style="background-color: rgb(0, 0, 0); background-image:url(../assets/images/home_background.png); background-repeat: no-repeat; background-position: 50% 40%; background-size: 35% auto;"></div>
        
        <script src="assets/particles.js" type="text/javascript"></script>
        <script src="assets/app.js" type="text/javascript"></script>
  <link rel="stylesheet" href="style.less" class="cid-rfFpDn0wTm" id="menu1-4" data-rv-view="617">
  <section class="menu cid-rkP0FrerX3" once="menu" id="menu1-39">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                         <img src="assets/images/logoiit-1-328x154.jpg" alt="Main Logo" title="" style="height: 5.3rem;">
                    </a>
                </span>
                
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white display-4" href="/">Home<br></a></li><li class="nav-item dropdown open"><a class="nav-link link text-white dropdown-toggle display-4" href="/" data-toggle="dropdown-submenu" aria-expanded="true">
                        
                        Sports</a><div class="dropdown-menu"><a class="text-white dropdown-item display-4" href="football">Football<br></a><a class="text-white dropdown-item display-4" href="cricket">Cricket</a><a class="text-white dropdown-item display-4" href="basketball">Basketball</a><a class="text-white dropdown-item display-4" href="volleyball">Volleyball</a><a class="text-white dropdown-item display-4" href="athletics">Athletics</a><a class="text-white dropdown-item display-4" href="table-tennis">Table Tennis</a><a class="text-white dropdown-item display-4" href="badminton">Badminton</a><a class="text-white dropdown-item display-4" href="pool">Pool</a><a class="text-white dropdown-item display-4" href="chess">Chess</a></div></li><li class="nav-item"><a class="nav-link link text-white display-4" href="livescores">Live Scores</a></li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="about">
                        
                        About</a>
                </li></ul>
            
        </div>
    </nav>
</section>
 
<section class="features17 cid-rfFEiZajfM" id="features17-d" style="background:#010c4c;">
    
    

    
    <div class="container-fluid">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <a href="./football"><img src="assets/images/mbr-1-680x371.jpg" alt="football" title=""></a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Football</h4>
                        
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <a href="./cricket"><img src="assets/images/mbr-1-680x452.jpg" alt="Cricket" title=""></a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Cricket</h4>
                        
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <a href="./basketball"><img src="assets/images/mbr-2-680x452.jpg" alt="basketball" title=""></a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Basketball</h4>
                        
                    </div>
                </div>
            </div>

            
            
            
        </div>
    </div>
</section>

<section class="features17 cid-rfFGHuE2js" id="features17-h" style="background:#010c4c;">
    
    

    
    <div class="container-fluid">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <a href="./badminton"><img src="assets/images/mbr-3-680x453.jpg" alt="badminton" title=""></a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Badminton</h4>
                        
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <a href="./athletics"><img src="assets/images/mbr-680x447.jpg" alt="Athletics" title=""></a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Athletics</h4>
                        
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <a href="./pool"><img src="assets/images/mbr-2-680x453.jpg" alt="pool" title=""></a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Pool</h4>
                        
                    </div>
                </div>
            </div>

            
            
            
        </div>
    </div>
</section>

<section class="features17 cid-rkhfOWR2Ud" id="features17-3d" style="background:#010c4c;">
    
    

    
    <div class="container-fluid">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <a href="./table-tennis"><img src="assets/images/mbr-2-928x619.jpg" alt="tt" title=""></a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Table Tennis</h4>
                        
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <a href="./volleyball"><img src="assets/images/mbr-928x615.jpg" alt="Volleyball" title=""></a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Volleyball</h4>
                        
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <a href="./chess"><img src="assets/images/mbr-1-928x614.jpg" alt="chess" title=""></a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Chess</h4>
                        
                    </div>
                </div>
            </div>

            
            
            
        </div>
    </div>
</section>

<section class="cid-rfFSewy8J3" id="social-buttons2-k">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="col-md-8 align-center">
                
                <div class="social-list pl-0 mb-0">
                    <a href="http://iitjammu.ac.in/" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social mbri-home"></span>
                    </a>
                    <a href="https://www.facebook.com/IITJM.Jammu/" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                    </a>
                    <a href="https://www.instagram.com/iit.jammu/?hl=en" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                    </a>
                    <a href="https://www.youtube.com/channel/UCLNdmo9sbWNKNFVO0r5wjWQ" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span>
                    </a>
                    <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                        
                    </a>
                    <a href="https://www.behance.net/Mobirise" target="_blank">
                        
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section once="" class="cid-rfFS2Hfq3i" id="footer7-i">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            
            
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © Copyright 2019 IIT Jammu - All rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/parallax/jarallax.min.js"></script>
  <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="assets/dropdown/js/script.min.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/sociallikes/social-likes.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
  
  </body>
</html>