<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" type="text/css" href="./assets/css/login.css">
<script src="https://www.gstatic.com/firebasejs/5.8.0/firebase.js"></script>
                <script>
  // Initialize Firebase
        var config = {
    apiKey: "AIzaSyCbNi1RWyWrBKleZrepI51D-8L5ffUWtVI",
    authDomain: "testconv-ea8da.firebaseapp.com",
    databaseURL: "https://testconv-ea8da.firebaseio.com",
    projectId: "testconv-ea8da",
    storageBucket: "testconv-ea8da.appspot.com",
    messagingSenderId: "844201602566"
                };
                firebase.initializeApp(config);
                </script>
 <script src="./assets/login.js"></script>

	<title>Login</title>
</head>
<body>
    <span class="box">
	    <h1>LOG IN</h1>
        <button id="glogin" onclick='sign_in_with_google()' class="submit">Login with Google</button>
    </span>
</body>
</html>