<!DOCTYPE html>
<html >
<style>
#result-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

#result-table td, #result-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#result-table tr:nth-child(even){background-color: #f2f2f2;}

#result-table tr:hover {background-color: #ddd;}

#result-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color:darkblue;
  color: white;
}
</style>
<head>
  <link rel="stylesheet" type="text/css" href="./assets/css/login.css">
<script src="https://www.gstatic.com/firebasejs/5.8.0/firebase.js"></script>
                <script>
  // Initialize Firebase
        var config = {
    apiKey: "AIzaSyCbNi1RWyWrBKleZrepI51D-8L5ffUWtVI",
    authDomain: "testconv-ea8da.firebaseapp.com",
    databaseURL: "https://testconv-ea8da.firebaseio.com",
    projectId: "testconv-ea8da",
    storageBucket: "testconv-ea8da.appspot.com",
    messagingSenderId: "844201602566"
                };
                firebase.initializeApp(config);
                </script>
 <script src="./assets/teams_x.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.9.1, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/c-logo-312x312.jpg" type="image/x-icon">
  <meta name="description" content="result for a sort">
  <title>Teams</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body onload="fill_table('<%= details %>')">
  <link rel="stylesheet" href="style.less" class="cid-rkhqzg9nYn" id="menu1-3x" data-rv-view="847"><section class="menu cid-rkP0FrerX3" once="menu" id="menu1-39">

    

        <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="/">
                             <img src="assets/images/logoiit-1-328x154.jpg" alt="Main Logo" title="" style="height: 5.3rem;">
                        </a>
                    </span>
                    
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white display-4" href="/">Home<br></a></li><li class="nav-item dropdown open"><a class="nav-link link text-white dropdown-toggle display-4" href="/" data-toggle="dropdown-submenu" aria-expanded="true">
                            
                            Sports</a><div class="dropdown-menu"><a class="text-white dropdown-item display-4" href="football">Football<br></a><a class="text-white dropdown-item display-4" href="cricket">Cricket</a><a class="text-white dropdown-item display-4" href="basketball">Basketball</a><a class="text-white dropdown-item display-4" href="volleyball">Volleyball</a><a class="text-white dropdown-item display-4" href="athletics">Athletics</a><a class="text-white dropdown-item display-4" href="table-tennis">Table Tennis</a><a class="text-white dropdown-item display-4" href="badminton">Badminton</a><a class="text-white dropdown-item display-4" href="pool">Pool</a><a class="text-white dropdown-item display-4" href="chess">Chess</a></div></li><li class="nav-item"><a class="nav-link link text-white display-4" href="livescores">Live Scores</a></li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-4" href="about">
                            
                            About</a>
                    </li></ul>
                
            </div>
        </nav>
    </section>
<br>
<br>
<br>
<br>
<br>
<div style="text-align:center;">
<table id="result-table">
       
</table>
</div>
<!-- HERE GOES RESULT SHIT -->
<section class="engine"><a href="https://mobirise.info/d">web maker</a></section><section class="cid-rkhqCrbetv" id="social-buttons2-3z">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="col-md-8 align-center">
                
                <div class="social-list pl-0 mb-0">
                    <a href="http://iitjammu.ac.in/" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social mbri-home"></span>
                    </a>
                    <a href="https://www.facebook.com/IITJM.Jammu/" target="_blank">
                        <span class="px-2 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                    </a>
                    <a href="https://www.instagram.com/iit.jammu/?hl=en" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                    </a>
                    <a href="https://www.youtube.com/channel/UCLNdmo9sbWNKNFVO0r5wjWQ" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span>
                    </a>
                    <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                        
                    </a>
                    <a href="https://www.behance.net/Mobirise" target="_blank">
                        
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section once="" class="cid-rkhqBe3pQY" id="footer7-3y">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            
            
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © Copyright 2019 IIT Jammu - All rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="assets/dropdown/js/script.min.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/sociallikes/social-likes.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
  
 </body>
</html>