<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.9.1, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/c-logo-312x312.jpg" type="image/x-icon">
  <meta name="description" content="Volleyball Page">
  <title>Volleyball</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
  <link rel="stylesheet" href="style.less" class="cid-rfPMJ9eTwF" id="menu1-1v" data-rv-view="702"> <section class="menu cid-rkP0FrerX3" once="menu" id="menu1-39">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                         <img src="assets/images/logoiit-1-328x154.jpg" alt="Main Logo" title="" style="height: 5.3rem;">
                    </a>
                </span>
                
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white display-4" href="/">Home<br></a></li><li class="nav-item dropdown open"><a class="nav-link link text-white dropdown-toggle display-4" href="/" data-toggle="dropdown-submenu" aria-expanded="true">
                        
                        Sports</a><div class="dropdown-menu"><a class="text-white dropdown-item display-4" href="football">Football<br></a><a class="text-white dropdown-item display-4" href="cricket">Cricket</a><a class="text-white dropdown-item display-4" href="basketball">Basketball</a><a class="text-white dropdown-item display-4" href="volleyball">Volleyball</a><a class="text-white dropdown-item display-4" href="athletics">Athletics</a><a class="text-white dropdown-item display-4" href="table-tennis">Table Tennis</a><a class="text-white dropdown-item display-4" href="badminton">Badminton</a><a class="text-white dropdown-item display-4" href="pool">Pool</a><a class="text-white dropdown-item display-4" href="chess">Chess</a></div></li><li class="nav-item"><a class="nav-link link text-white display-4" href="livescores">Live Scores</a></li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="about">
                        
                        About</a>
                </li></ul>
            
        </div>
    </nav>
</section>
<section class="header12 cid-rfPMJbnlYr mbr-fullscreen mbr-parallax-background" id="header12-1w">

    

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container  ">
            <div class="media-container">
                <div class="col-md-12 align-center">
                    <h1 class="mbr-section-title pb-3 mbr-white mbr-bold mbr-fonts-style display-1"></h1>
                    <p class="mbr-text pb-3 mbr-white mbr-fonts-style display-1">
                        VOLLEYBALL</p>
                    

                    <div class="icons-media-container mbr-white">
                        <div class="card col-12 col-md-6 col-lg-4">
                            <div class="icon-block">
                            <a href="./result_sportx?game_type=volleyball">
                                <span class="mbr-iconfont mbrib-clock"></span>
                            </a>
                            </div>
                            <h5 class="mbr-fonts-style display-5">
                                Results
                              </a></h5>
                        </div>

                        <div class="card col-12 col-md-6 col-lg-4">
                            <div class="icon-block">
                                <a href="https://drive.google.com/open?id=1bjxqbezuDpZ2vqi1xrm47GC3pK6E9FTq">
                                    <span class="mbr-iconfont mbrib-calendar"></span>
                                </a>
                            </div>
                            <h5 class="mbr-fonts-style display-5">
                                Schedule</h5>
                        </div>

                        <div class="card col-12 col-md-6 col-lg-4">
                            <div class="icon-block">
                                    <a href="./teams_x?game_type=volleyball">
                                        <span class="mbr-iconfont mbrib-numbered-list"></span>
                                    </a>
                            </div>
                            <h5 class="mbr-fonts-style display-5">
                                Teams</h5>
                        </div>

                        
                    </div>
                </div>
            </div>
    </div>

    
</section>

<section class="cid-rfPMJdGify" id="social-buttons2-1x">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="col-md-8 align-center">
                
                <div class="social-list pl-0 mb-0">
                    <a href="http://iitjammu.ac.in/" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social mbri-home"></span>
                    </a>
                    <a href="https://www.facebook.com/IITJM.Jammu/" target="_blank">
                        <span class="px-2 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                    </a>
                    <a href="https://www.instagram.com/iit.jammu/?hl=en" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                    </a>
                    <a href="https://www.youtube.com/channel/UCLNdmo9sbWNKNFVO0r5wjWQ" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span>
                    </a>
                    <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                        
                    </a>
                    <a href="https://www.behance.net/Mobirise" target="_blank">
                        
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section once="" class="cid-rfPMJfcTh1" id="footer7-1y">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            
            
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © Copyright 2019 IIT Jammu - All rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/dropdown/js/script.min.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="assets/vimeoplayer/jquery.mb.vimeo_player.js"></script>
  <script src="assets/parallax/jarallax.min.js"></script>
  <script src="assets/sociallikes/social-likes.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
  </body>
</html>